@model NeoVicky.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>@ViewBag.PageTitle</h3>


<div>
    Name: @Model.Name
</div>
<div>
    ID: @Model.Id
</div>

